<%- include('./partials/html-head')  %> 

<%- include('./partials/nav') %> 
<link rel="stylesheet" href="/stylesheets/about.css">
<main>
  <div >
    <p class="about">
      I'm a full-stack developer based in Houston, Texas. I have a passion for creating attractive, efficient, and responsive websites and applications that are user-friendly and accessible. I play guitar and will gladly talk your ear off about pedals and amps. I'm also a huge map and geography nerd and love playing GeoGuessr.
    </p>
    <h3>
      Technical Skills:
    </h3>
  </div>
  <div class="container text-center">
    <div class="row row-cols- row-cols-6 g-2 g-lg-1">
      <div class="col">
        <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="Javascript">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white" alt="Node.js">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/express.js-%23404d59.svg?style=for-the-badge&logo=express&logoColor=%2361DAFB" alt="Express">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/react-%2320232a.svg?style=for-the-badge&logo=react&logoColor=%2361DAFB" alt="React">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white" alt="MongoDB">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white" alt="Django">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Docker">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white" alt="Postgres">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white" alt="Git">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" alt="Github">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/heroku-%23430098.svg?style=for-the-badge&logo=heroku&logoColor=white" alt="Heroku">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/netlify-%23000000.svg?style=for-the-badge&logo=netlify&logoColor=#00C7B7" alt="Netlify">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/bootstrap-%23563D7C.svg?style=for-the-badge&logo=bootstrap&logoColor=white" alt="Bootstrap">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/MUI-%230081CB.svg?style=for-the-badge&logo=mui&logoColor=white" alt="Material UI">
      </div>
      <div class="col">
        <img src="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white" alt="Tailwind">
      </div>
    </div>
  </div>

</main>


<%- include('./partials/footer') %>