<%- include('./partials/html-head')  %> 

<%- include('./partials/nav') %> 

<main>
  <p>
    I'm a full-stack developer based in Houston, Texas. I have a passion for creating attractive, efficient, and responsive websites and applications that are user-friendly and accessible.
  </p>
  <p>
    Technical Skills:
  </p>
  <div class="container text-center">
    <div class="row row-cols-4 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 border">HTML</div>
      </div>
      <div class="col">
        <div class="p-3 border">CSS</div>
      </div>
      <div class="col">
        <div class="p-3 border">Javascript</div>
      </div>
      <div class="col">
        <div class="p-3 border">EJS</div>
      </div>
      <div class="col">
        <div class="p-3 border">Node.js</div>
      </div>
      <div class="col">
        <div class="p-3 border">Express</div>
      </div>
      <div class="col">
        <div class="p-3 border">React</div>
      </div>
      <div class="col">
        <div class="p-3 border">Mongoose</div>
      </div>
      <div class="col">
        <div class="p-3 border">MongoDB</div>
      </div>
      <div class="col">
        <div class="p-3 border">Python</div>
      </div>
      <div class="col">
        <div class="p-3 border">Django</div>
      </div>
      <div class="col">
        <div class="p-3 border">Docker</div>
      </div>
      <div class="col">
        <div class="p-3 border">PostgreSQL</div>
      </div>
      <div class="col">
        <div class="p-3 border">Git</div>
      </div>
      <div class="col">
        <div class="p-3 border">GitHub</div>
      </div>
      <div class="col">
        <div class="p-3 border">Heroku</div>
      </div>
      <div class="col">
        <div class="p-3 border">Netlify</div>
      </div>
      <div class="col">
        <div class="p-3 border">Bootstrap</div>
      </div>
      <div class="col">
        <div class="p-3 border">Material UI</div>
      </div>
      <div class="col">
        <div class="p-3 border">Tailwind</div>
      </div>
    </div>
  </div>

</main>