<%- include('./partials/html-head')  %> 

<%- include('./partials/nav') %> 
<link rel="stylesheet" href="/stylesheets/about.css">
<main>
  <div >
    <p class="about">
      I'm a full-stack developer based in Houston, Texas. I have a passion for creating attractive, efficient, and responsive websites and applications that are user-friendly and accessible. I play guitar and will gladly talk your ear off about pedals and amps. I'm also a huge map and geography nerd and love playing GeoGuessr.
    </p>
    <h3>
      Technical Skills:
    </h3>
  </div>
  <div class="container text-center">
    <div>
      HTML
    </div>
    <div>
      CSS
    </div>
    <div>
      Javascript
    </div>
    <div>
      Node.js
    </div>
    <div>
      Express
    </div>
    <div>
      React
    </div>
    <div>
      MongoDB
    </div>
    <div>
      Python
    </div>
    <div>
      Django
    </div>
    <div>
      Docker
    </div>
    <div>
      PostgreSQL
    </div>
    <div>
      Git
    </div>
    <div>
      Github
    </div>
    <div>
      Heroku
    </div>
    <div>
      Netlify
    </div>
    <div>
      Bootstrap
    </div>
    <div>
      Material UI
    </div>
    <div>
      Tailwind
    </div>
  </div>

</main>


<%- include('./partials/footer') %>