<%- include('./partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/contact.css">
<%- include('./partials/nav') %> 

<div class="contact"><h2>Contact</h2>
  <p class="contact-text">
    If you'd like to get in touch, please send me an email here:
    <br /><button class="btn btn-primary">
      <a href="mailto:nickcyg1992@gmail.com" target="_blank" rel="noreferrer" rel="noopener">
        Email
      </a>
    </button>
    <br/>
    Or, find me on LinkedIn:
    <br /><button class="btn btn-primary">
      <a href="https://www.linkedin.com/in/largewater/" target="_blank" rel="noreferrer" rel="noopener">
        LinkedIn
      </a>
    </button>
  </p>
</div>







<%- include('./partials/footer') %>