<%- include('./partials/html-head')  %> 

<%- include('./partials/nav') %> 
  <div class="content">
    <section class="container centered">
      <div class="about">
        <div class="avatar"><img src="/images/avatar.jpeg" alt="avatar"></div>
        <h1>Nicholas Bailey</h1>
        <h2>Full Stack Developer<br>Map Enthusiast<br>Guitarist<br></h2>
      </div>
    </section>
  </div>
</main>
<%- include('./partials/footer') %>