<%- include('./partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/resume.css">
<%- include('./partials/nav') %> 
<div class="resumediv">
  <img src="/images/resume.png" alt="resume">
  <br />
  <a 
    href="https://docs.google.com/document/d/1cstmngjYyrFETJ8AOJV96cpnKREJToRefOi3ZMuBO24/view?usp=sharing" 
    target="_blank" 
    class="resume" rel="noopener" rel="noreferrer">
      View my Resume
  </a>
</div>








<%- include('./partials/footer') %>