<%- include('./partials/html-head')  %> 
<%- include('./partials/nav') %> 
<link rel="stylesheet" href="/stylesheets/work.css" />

<section class="work">
  <div class="card mb-3">
    <img src="/images/placesmap.png" class="card-img-top" alt="places.map()">
    <div class="card-body">
      <h5 class="card-title">places.map()</h5>
      <p class="card-text">An app where users can add markers to a map, see other users' markers, and get directions. A Django app coded in Python and built with Docker.</p>
      <button class="btn btn-primary"><a href="https://github.com/LargeWater/places-map" target="_blank" rel="noreferrer" rel="noopener">Github</a></button>
      <button class="btn btn-primary"><a href="https://places-map.herokuapp.com/" target="_blank" rel="noreferrer" rel="noopener">Live demo</a></button>
    </div>
  </div>
  <div class="card mb-3">
    <img src="/images/rigbuilder.png" class="card-img-top" alt="Rig Builder">
    <div class="card-body">
      <h5 class="card-title">Rig Builder</h5>
      <p class="card-text">An app in which users can add pieces of guitar equipment to their collection, and view other users' collections. Coded in Javascript/EJS, and utilized MongoDB, Node.JS end Express.</p>
      <button class="btn btn-primary"><a href="https://github.com/LargeWater/rig-builder" target="_blank" rel="noreferrer" rel="noopener">Github</a></button>
      <button class="btn btn-primary"><a href="https://nicks-rig-builder.herokuapp.com/" target="_blank" rel="noreferrer" rel="noopener">Live demo</a></button>
    </div>
  </div>
  <div class="card mb-3">
    <img src="/images/codeipedia.png" class="card-img-top" alt="Rig Builder">
    <div class="card-body">
      <h5 class="card-title">Code-ipedia</h5>
      <p class="card-text">An app where users can save and share snippets of code with other users. Built with a team using the React framework</p>
      <button class="btn btn-primary"><a href="https://github.com/jsantia85/code-ipedia-front-end" target="_blank" rel="noreferrer" rel="noopener">Github</a></button>
      <button class="btn btn-primary"><a href="https://code-ipedia.netlify.app/" target="_blank" rel="noreferrer" rel="noopener">Live demo</a></button>
    </div>
  </div>
  <div class="card mb-3">
    <img src="/images/ttt.png" class="card-img-top" alt="Rig Builder">
    <div class="card-body">
      <h5 class="card-title">Tic-Tac-Toe</h5>
      <p class="card-text">The classic game. First programming project, where I learned the basics of Javascript and game logic</p>
      <button class="btn btn-primary"><a href="https://github.com/LargeWater/ttt-weekend" target="_blank" rel="noreferrer" rel="noopener">Github</a></button>
      <button class="btn btn-primary"><a href="https://nicktactoe.netlify.app/" rel="noreferrer" rel="noopener">Live demo</a></button>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>