<%- include('./partials/html-head')  %> 
<%- include('./partials/nav') %> 
<link rel="stylesheet" href="/stylesheets/work.css" />

<section class="work">
  <div class="card" style="width: 18rem;">
    <img src="/images/placesmap.png" class="card-img-top" alt="places.map()">
    <div class="card-body">
      <h5 class="card-title">places.map()</h5>
      <p class="card-text">A Django app where users can add markers to a map, see other users' markers, and get directions</p>
      <a href="https://github.com/LargeWater/places-map" target="_blank">Github</a>
      <a href="https://places-map.herokuapp.com/" target="_blank">Live demo</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/rigbuilder.png" class="card-img-top" alt="Rig Builder">
    <div class="card-body">
      <h5 class="card-title">Rig Builder</h5>
      <p class="card-text">A MEN-stack app in which users can add pieces of guitar equipment to their collection, and view other users' collections</p>
      <a href="https://github.com/LargeWater/rig-builder" target="_blank">Github</a>
      <a href="https://nicks-rig-builder.herokuapp.com/" target="_blank">Live demo</a>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>