.card,.card-body > a{
  color: #212121;
}
.card-body > a:hover{
  color: #41b1de;
}

.card{
  margin: 20px;
  max-height: auto;
  max-width: 40vw;
  background-color: #dadada;
}

img{
  max-width: 100%;
  max-height: auto;
}

button{
  max-width: 40vh;
  max-height: auto;
}

.work{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}